
/* code: css clocks */
#cssclock { 
	height: 270px; 
}
#clockanalog { 
	background: #012345 url("/site_media/images/group/clock/analog.gif") no-repeat 0 0; 
	float: left; 
	height: 125px; width: 125px; 
	margin: 0; 
	overflow: hidden; position: relative; 
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#clockanalog img { 
	border: 0; 
	left: 0px; top: 0px;
	position: absolute;  
}
#clockdigital { 
	background: #012345 url("/site_media/images/group/clock/digital.gif") no-repeat 81px 50px; 
	float: right; 
	height: 125px; width: 242px; 
	margin: 0; padding: 0;
	overflow: hidden;  position: relative; 
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
#clockdigital div { 
	background: #012345; 
	height: 44px; width: 242px; 
	position: absolute; 
}
#clockdigital div:last-child { 
	bottom: 0; 
}
#clockdigital img { 
	border: 0; 
	display: block; 
	height: 1000px; width: 1000px;
	left: -776px; top: -432px;
	margin: 0; padding: 0; 
	position: absolute;
}
