!.gitignore

backup/*.*gz
cache/*.txt
cache/*.log

data/*
!data/1d/result_0123456789abcdef.txt
!data/1d/result_0123456789abcdef.html
!data/**/.gitignore

*.pyc

media/js/admin/min/*.js
media/js/public/min/*.js
media/js/suit/min/*.js
media/css/min/*.css

src/pymerize/__pycache__/*.n*

config/t47_dev.py
config/*.conf
