!.gitignore

backup/*.*gz
cache/*.txt
cache/*.log

data/primerize_release.zip
data/1d/*
!data/1d/result_0123456789abcdef.txt
!data/1d/result_0123456789abcdef.html
data/2d/*
!data/**/.gitignore

*.pyc

media/js/admin/min/*.js
media/js/public/min/*.js
media/js/suit/min/*.js
media/css/min/*.js

src/pymerize/__pycache__/*.n*

config/t47_dev.py
config/*.conf
