{
	"MIN_TM": 60.0,
	"MAX_LEN": 60,
	"MIN_LEN": 15,
	"NUM_PRM": 0,

	"SEQ_P4P6": "TTCTAATACGACTCACTATAGGCCAAAGGCGUCGAGUAGACGCCAACAACGGAAUUGCGGGAAAGGGGUCAACAGCCGUUCAGUACCAAGUCUCAGGGGAAACUUUGAGAUGGCCUUGCAAAGGGUAUGGUAAUAAGCUGACGGACAUGGUCCUAACCACGCAGCCAAGUCCUAAGUCAACAGAUCUUCUGUUGAUAUGGAUGCAGUUCAAAACCAAACCGUCAGCGAGUAGCUGACAAAAAGAAACAACAACAACAAC",
	"SEQ_T7": "TTCTAATACGACTCACTATA",
	"SEQ_VALID": ["A","T","C","G","U"],

	"DEMO_1D_ID": "0123456789abcdef",
	"DEMO_2D_ID": "123456789abcdef0",
	"DEMO_3D_ID": "1234567890abcdef"
}

