{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block content %}
<div id="content-main" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="jumbotron">
        <div class="container">
          <h1>Primerize Admin Manual</h1>
          <img src="/site_media/images/logo_primerize.png" style="clear:both; float:right; padding-left: 20px;"/>
          <p>
            This page is oriented to new admin about making transitions, daily responsibilities, and test environment setup.
          </p>
          <br/>
          <h5>by <i>t47</i>, Apr 2016</h5>
        </div>
      </div>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-lg-3 col-md-3 hidden-sm hidden-xs" id="side">
      <div id="side_con">
        <div class="panel panel-success" id="sidebar" >
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;Sections</h3>
          </div>
          <div class="panel-body scroll_nav">
            <ul class="nav" role="tablist" id="scroll_nav">
              <li class="li-orange">
                  <a id="tab_1" href="#admin_setup">
                    <span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;Section #1: 
                    <br/>
                    <b>New Admin Setup</b>
                    <span class="glyphicon pull-right glyphicon-triangle-bottom" data-toggle="collapse" data-parent="#accordion" href="#collapse_tab_1" aria-expanded="true" aria-controls="collapse_tab_1"></span>
                  </a>
                  <ul id="collapse_tab_1" class="panel-collapse collapse nav" role="tabpanel" aria-labelledby="collapse_tab_1">
                    <li><a id="tab_11" href="#admin_cred">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Credentials</a></li>
                    <li><a id="tab_12" href="#admin_trans">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Transitioning</a></li>
                  </ul>
              </li>
              <li class="li-info">
                  <a id="tab_2" href="#job">
                    <span class="glyphicon glyphicon-sunglasses"></span>&nbsp;&nbsp;Section #2: 
                    <br/>
                    <b>Admin Responsibility</b>
                    <span class="glyphicon pull-right glyphicon-triangle-bottom" data-toggle="collapse" data-parent="#accordion" href="#collapse_tab_2" aria-expanded="true" aria-controls="collapse_tab_2"></span>
                  </a>
                  <ul id="collapse_tab_2" class="panel-collapse collapse nav" role="tabpanel" aria-labelledby="collapse_tab_2">
                    <li><a id="tab_21" href="#job_exp">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;External Site</a></li>
                    <li>
                      <a id="tab_22" href="#job_bot">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Bot Configuration</a>
                      <ul style="padding-left:60px;">
                        <li><a id="tab_221" href="#bot_backup">Backup and Cleanup</a></li>
                        <li><a id="tab_222" href="#bot_err">Error Report</a></li>
                      </ul>
                    </li>
                    <li><a id="tab_23" href="#job_csl">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;Server Maintenance</a></li>
                  </ul>
              </li>
              <li class="li-violet">
                  <a id="tab_3" href="#test_env">
                    <span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;Section #3: 
                    <br/>
                    <b>Server Environment</b>
                    <span class="glyphicon pull-right glyphicon-triangle-bottom" data-toggle="collapse" data-parent="#accordion" href="#collapse_tab_3" aria-expanded="true" aria-controls="collapse_tab_3"></span>
                  </a>
                  <ul id="collapse_tab_3" class="panel-collapse collapse nav" role="tabpanel" aria-labelledby="collapse_tab_3">
                    <li><a id="tab_31" href="#test_basc">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-console"></span>&nbsp;&nbsp;Server Basics</a></li>
                    <li><a id="tab_32" href="#test_set">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-hourglass"></span>&nbsp;&nbsp;Test Server Setup</a></li>
                    <li><a id="tab_33" href="#ssl">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;SSL Certificate Renewal</a></li>
                  </ul>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>


    <div class="pull-right col-lg-9 col-md-9 col-sm-12 col-xs-12" id="main">
      <div class="container-fluid li-orange" role="main">
        <div class="panel-orange" id="admin_setup">
          <div class="panel-heading">
            <span class="lead">
              <span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;<b><span class="sec">Section</span> <span class="num">#1</span>: New Admin Setup</b>
            </span>
          </div>
          <br/>
          <div class="row" id="admin_cred">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Credentials</h4>
              <ul>
                <li><span class="code code_misc">SSH Key</span> and <span class="code code_misc">SSL Certificates</span> are in the inbox of <span class="code code_val">daslab</span> <span class="code code_brand">Gmail</span> account.</li>
                <li><span class="code code_brand">MySQL</span>, <span class="code code_brand">Apache</span> and <span class="code code_brand">Gmail</span> account username and password are in <span class="code code_path">config/env.conf</span>.</li>
                <li><span class="code code_misc">Django</span> admin account username and password are the same as <span class="code code_brand">Apache</span>.</li>
              </ul>
            </div>
          </div>  
          <hr/> 
          <div class="row" id="admin_trans">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-refresh"></span>&nbsp;&nbsp;Transitioning</h4>
              <p>Use <span class="code code_cmd">ssh</span> to remotely access the server. Use <span class="code code_cmd">-i</span> to supply the <span class="code code_misc">SSH Key</span>: <span class="code code_cmd">ssh -i ~/amazon.pem ubuntu@52.33.204.5</span> (the server IP may differ).</p>
              <p>Please edit the following files to make you the new admin</p>
              <ul>
                <li><span class="code code_path">config/env.conf</span>: Change <span class="code code_key">ADMIN_NAME</span> and <span class="code code_key">ADMIN_EMAIL</span> to you.</li>
              </ul>
              <p>You need to restart <span class="code code_brand">Apache</span> for changes to take effect. Simply run <span class="code code_cmd">a2rs</span> from commmand-line.</p>
            </div>
          </div>             
        </div>
      </div>

      <hr/>
      <div class="container-fluid li-info" role="main">
        <div class="panel-info" id="job">
          <div class="panel-heading">
            <span class="lead">
              <span class="glyphicon glyphicon-sunglasses"></span>&nbsp;&nbsp;<b><span class="sec">Section</span> <span class="num">#2</span>: Admin Responsibility</b>
            </span>
          </div>
          <br/>

          <div class="row" id="job_exp">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-globe"></span>&nbsp;&nbsp;Maintaining Public Site</h4>
              <br/>
              <p><span class="code code_class">Design1D</span>, <span class="code code_class">Design2D</span> and <span class="code code_class">Design3D</span> <b>class</b></p>
              <ul>
                <li>The demo <span class="code code_key">JOB_ID</span> should be present in all these classes, with time set to <span class="code code_val">1970-01-01</span> and <span class="code code_key">Status</span> set to <span class="code code_val">0</span> (Demo).</li>
              </ul>
              <p><span class="code code_class">JobID</span> <b>class</b></p>
              <ul>
                <li>This table is used to look up a <span class="code code_key">JOB_ID</span> for <span class="code code_url">/result/</span> queries. All <span class="code code_key">JOB_ID</span> of <span class="code code_class">Design1D</span>, <span class="code code_class">Design2D</span> and <span class="code code_class">Design3D</span> classes should be registered to this table.</li>
              </ul>
              <p><span class="code code_class">JobGroup</span> <b>class</b></p>
              <ul>
                <li>Future use for connecting/grouping <span class="code code_key">JOB_ID</span> of <span class="code code_class">Design1D</span>, <span class="code code_class">Design2D</span> and <span class="code code_class">Design3D</span> jobs. <b>Currently not used!</b></li>
              </ul>
              <br/>
              <p><span class="code code_class">HistoryItem</span> <b>class</b></p>
              <ul>
                <li>Announce news for the Primerize server and <code>priemrize</code> package when needed.</li>
                <li>News content is HTML-enabled.</li>
              </ul>
              <p><span class="code code_class">SourceDownloader</span> <b>class</b></p>
              <ul>
                <li>Keep track of who requested to download <code>primerize</code> source code.</li>
              </ul>
              <p><span class="code code_class">User</span> <b>class</b></p>
              <ul>
                <li>User accounts. Currently only <span class="code code_val">daslab</span> is used as Admin. Do not add new logins unless future user system is open for public.</li>
              </ul>
            </div>
          </div>  

          <hr/> 
          <div class="row" id="job_bot">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;<span class="code code_misc">Bot</span> Configurations</h4>
              <p><span class="code code_misc">Bot</span> is a set of <span class="code code_cmd">python</span> scripts that takes care of routine server tasks and communicate to admin through email.</p>
              <br/>
              <p id="bot_backup"><b>Backup and Cleanup</b></p>
              <p>The server handles backup weekly. Settings can be configured at <span class="code code_url">/admin/backup/</span>.</p>
              <p>Every week, it runs:</p>
              <ul>
                <li>Zip up <span class="code code_misc">static</span> files, <span class="code code_brand">MySQL</span>, <span class="code code_brand">Apache</span>, and local <span class="code code_path">config/</span> files.</li>
                <li>Upload most recent backup onto <span class="code code_val">daslab</span> <span class="code code_brand">Google Drive</span>.</li>
                <li>Clean up obsolete backup files in <span class="code code_brand">Google Drive</span>.</li>
              </ul>
              <p>Every 3 months, it cleans up old jobs' result files and remove them from <span class="code code_brand">MySQL</span>. The threshold is defined as <span class="code code_key">KEEP_JOB</span>.</p>
              <br/>
              <p id="bot_err"><b>Error Report</b></p>
              <p>Server reports to admin for any runtime error it encounters, in real time. Please do hotfixes as soon as possible if it's a major bug!</p>
            </div>
          </div>

          <hr/> 
          <div class="row" id="job_csl">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-hdd"></span>&nbsp;&nbsp;Server Monitoring</h4>
              <ul>
                <li>Most of analytics, inclduing <span class="code code_brand">Apache</span>, <span class="code code_brand">AWS</span>, <span class="code code_brand">Google Analytics</span> and <span class="code code_brand">GitHub</span>, are available in admin console. No need to login at vendors to see statistics. Alternatively, you can login at vendor's using <span class="code code_val">daslab</span> <span class="code code_brand">Gmail</span> account.</li>
                <li>For server package upgrade, run <span class="code code_cmd">upd</span>, which is a shortcut that updates both <span class="code code_cmd">apt-get</span> and <span class="code code_cmd">pip</span>. Afterwards, make sure <span class="code code_bran">Apache</span> is running with <span class="code code_misc">worker</span>, NOT <span class="code code_misc">prefork</span>!</li>
                <li>To restart the server, use <span class="code code_cmd">sudo reboot</span>.</li>
                <li>Turn on <span class="code code_cmd">swap</span> to expand the instance's memory, use command <span class="code code_cmd">swap_on</span>. This is <b>important</b> since <code>primerize</code> 1D design takes more than 1G of memory for slightly larger jobs. The 1G memory from <span class="code code_brand">AWS</span> <span class="code code_misc">EC2</span> instance is not enough! Use <span class="code code_cmd">htop</span> to monitor memory usage.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <hr/>
      <div class="container-fluid li-violet" role="main">
        <div class="panel-violet" id="test_env">
          <div class="panel-heading">
            <span class="lead">
              <span class="glyphicon glyphicon-tasks"></span>&nbsp;&nbsp;<b><span class="sec">Section</span> <span class="num">#3</span>: Server Environment</b>
            </span>
          </div>
          <br/>
          <div class="row" id="test_basc">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <p>Congratulations! You have made it so far. This section will get your hands dirty into server code setup.</p>
              <br/>
              <h4><span class="glyphicon glyphicon-console"></span>&nbsp;&nbsp;Server Basics</h4>
              <br/>
              <p>The server runs on <span class="code code_cmd">linux</span>(<span class="code code_brand">Ubuntu</span>) instance at <span class="code code_brand">AWS</span>. Information about <span class="code code_brand">AWS</span> is in <span class="code code_path">config/oauth.conf</span> under <span class="code code_key">AWS</span>.</p>
              <p><span class="code code_brand">Apache</span> is the reverse proxy that sits between <span class="code code_misc">Django</span> (the app) and outside world. It handles HTTP requests and spawns <span class="code code_cmd">python</span> processes. <span class="code code_misc">Django</span> is used for web framework. <span class="code code_brand">MySQL</span> is the database engine.</p>
              <br/>
              <p>When making changes to <span class="code code_misc">static</span> assets, including <span class="code code_spe">*.html</span>, <span class="code code_spe">*.css</span>, <span class="code code_spe">*.js</span>, <span class="code code_misc">images/pdf</span> files, as well as <span class="code code_brand">MySQL</span> database, you don't need to restart <span class="code code_brand">Apache</span>. Changes will be reflected upon browser refresh (sometimes browser cache may delay it).</p>
              <p>In contrary, when making changes to <span class="code code_misc">script</span> files, including <span class="code code_spe">*.py</span>, <span class="code code_spe">*.conf</span>, <span class="code code_spe">*.sh</span>, as well as <span class="code code_brand">Apache</span> settings, you have to restart <span class="code code_brand">Apache</span> to reflect changes. A quick way to do so is running <span class="code code_cmd">a2rs</span>, which is an alias for <span class="code code_cmd">sudo apache2ctl restart</span>.</p>
              <br/>
              <p><b>Server Downtime</b></p>
              <p>To mark the server as temporarily unavailable, change <span class="code code_key">IS_MAINTENANCE</span> to <span class="code code_val">true</span> in <span class="code code_path">config/t47_dev.py</span>. The server will still be running, but only returns status <u>503</u> for any requests.</p>
              <br/>
              <p><b>Shortcut Commands</b></p>
              <p>The following aliases are provided for you convenience:</p>
              <ul>
                <li><span class="code code_cmd">sync</span>: Updates server code from repository, makes it ready, and deploys.</li>
                <li><span class="code code_cmd">upd</span>: Updates installed packages.</li>
                <li>Other commands for checking logs, <span class="code code_misc">cron</span> jobs, and <span class="code code_misc">swap</span> memory. See <span class="code code_url">/admin/ref/</span> for more details.</li>
              </ul>
              <br/>
              <p><b><span class="code code_misc">Django</span> Commands</b></p>
              <p>The following <span class="code code_misc">Django</span> commands are available. Run them with <span class="code code_cmd">dj_man</span>, or in full-length, e.g. <span class="code code_cmd">python manage.py dist</span>.</p>
              <div class="row">
                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                  <table class="table table-hover">
                    <tbody>
                      <tr><td><span class="code code_cmd">backup</span></td><td>Backs up <span class="code code_misc">static</span> files, <span class="code code_brand">MySQL</span>, <span class="code code_brand">Apache</span>, and local <span class="code code_path">config/</span> files into <span class="code code_path">backup/</span> folder.</td></tr>
                      <tr><td><span class="code code_cmd">cleanup</span></td><td>Removes <span class="code code_path">data/</span> files and <span class="code code_key">JOB_ID</span> from <span class="code code_brand">MySQL</span> for jobs that are older than <span class="code code_key">KEEP_JOB</span> in <span class="code code_path">config/cron.conf</span>.</td></tr>
                      <tr><td><span class="code code_cmd">dist</span></td><td>Downloads <code>primerize</code> package releases and master into <span class="code code_path">dist/</span>, and updates <span class="code code_path">cache/stat_dist.json</span>.</td></tr>
                      <tr><td><span class="code code_cmd">gdrive</span></td><td>Uploads most recent backup onto <span class="code code_val">daslab</span> <span class="code code_brand">Google Drive</span> and cleans up obsolete backup files.</td></tr>
                      <tr><td><span class="code code_cmd">restore</span></td><td>Restores <span class="code code_misc">static</span> files, <span class="code code_brand">MySQL</span>, <span class="code code_brand">Apache</span>, and local <span class="code code_path">config/</span> files from local <span class="code code_path">backup/</span> files.</td></tr>
                      <tr><td><span class="code code_cmd">versions</span></td><td>Collects system installed package versions into <span class="code code_path">cache/stat_sys.json</span> and <span class="code code_path">cache/stat_ver.json</span>.</td></tr>
                      <tr><td colspan="2" style="padding:0px;"></td></tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
              </div>
              <br/>
              <p><b>Environment Path</b></p>
              <div class="row">
                <div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
                <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                  <table class="table table-hover">
                    <tbody>
                      <tr><td>Repository</td><td><span class="code code_path">/home/ubuntu/Server_Primerize/</span></td></tr>
                      <tr><td><span class="code code_brand">Apache</span> settings</td><td><span class="code code_path">/etc/apache2/</span></td></tr>
                      <tr><td><span class="code code_brand">Apache</span> log</td><td><span class="code code_path">/var/log/apache2/</span></td></tr>
                      <tr><td><span class="code code_misc">Django</span> and <span class="code code_misc">cron</span> log</td><td><span class="code code_path">cache/</span></td></tr>
                      <tr><td><span class="code code_misc">static</span> files</td><td><span class="code code_path">data/</span></td></tr>
                      <tr><td><code>primerize</code> package distribution</td><td><span class="code code_path">dist/</span></td></tr>
                      <tr><td>Secret / configurations</td><td><span class="code code_path">config/</span></td></1tr>
                      <tr><td colspan="2" style="padding:0px;"></td></tr>
                    </tbody>
                  </table>
                </div>
                <div class="col-lg-2 col-md-1 hidden-sm hidden-xs"></div>
              </div>
              </ul>
            </div>
          </div>

          <hr/>
          <div class="row" id="test_set">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-hourglass"></span>&nbsp;&nbsp;Test Server Setup</h4>
              <br/>
              <p>The following setup does not use <span class="code code_brand">Apache</span>. Your test server will behave exactly the same as production.</p>
              <ul>
                <li>Follow <span class="code code_path">README.md</span> to install dependencies.</li>
                <li>Clone the repository from <span class="code code_url">https://github.com/DasLab/Server_Primerize.git</span>.</li>
                <li>Run <span class="code code_path">util_prep_dir.sh</span> to create necessary folders (empty).</li>
                <li>Copy backup files either from <span class="code code_brand">AWS</span> instance or from <span class="code code_val">daslab</span> <span class="code code_brand">Google Drive</span>. Then run <span class="code code_cmd">python manage.py restore</span> to unpack <span class="code code_misc">static</span> files and overwrite <span class="code code_brand">MySQL</span> database tables. You may need to manually create a <span class="code code_val">primerize</span> table in <span class="code code_brand">MySQL</span> first if not exists.</li>
                <li>Use <span class="code code_path">config/*.conf</span> files from the backup. Remember to edit <span class="code code_path">config/t47_dev.py</span> to set <span class="code code_key">IS_DEVEL</span> to <span class="code code_val">true</span> (turns on <span class="code code_key">DEBUG</span> mode).</li>
                <li>Start the test server with <span class="code code_cmd">python manage.py runserver</span>, and it should be listening at <span class="code code_url">localhost:8000/</span>. You may need to start <span class="code code_brand">MySQL</span> service first, by <span class="code code_cmd">mysql.server start</span>.</li>
              </ul>
              <br/>
              <p><b>Server Deployment</b></p>
              <p>To set up a new server for production, you need to complete the following steps besides the ones above. Most of the system requirements/settings are in the <span class="code code_path">config/sys/</span> folder in the backup files, which are handled by <span class="code code_path">util_sys_asset.sh</span>.</p>
              <ul>
                <li>Store <span class="code code_misc">SSL Certificate</span> on the server (currently at <span class="code code_path">/home/ubuntu/.ssl_cert/</span>). Use <span class="code code_cmd">aws iam</span> to register them to <span class="code code_brand">AWS</span> console. See <a href="http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/ssl-server-cert.html" target="_blank">here&nbsp;&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>.</li>
                <li>Overwrite <span class="code code_brand">Apache</span> settings from backup. See <span class="code code_url">/admin/ref/</span> for more explanations.</li>
                <li>Install <span class="code code_misc">django-filemanager</span>.</li>
                <li>Put <span class="code code_path">yuicompressor.jar</span> in the parent directory (used by <span class="code code_path">util_minify.sh</span>).</li>
                <li>Soft link <span class="code code_misc">gdrive</span> executable system-wide, and restore its settings (<span class="code code_path">/home/ubuntu/.drive/</span>).</li> 
                <li><i>(optional)</i> <span class="code code_cmd">bash</span> settings and others (e.g. <span class="code code_misc">dircolors</span>).</li>
                <br/>
                <li>Change <span class="code code_key">IS_DEVEL</span> to <span class="code code_val">false</span> in <span class="code code_path">config/t47_dev.py</span>.</li>
                <li>Run <span class="code code_path">util_minify.sh</span> and <span class="code code_path">util_chmod.sh</span> for preparing minified files and proper permissions.</li>
              </ul>
            </div>
          </div>

          <hr/>
          <div class="row" id="ssl">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 30px;">
              <h4><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;SSL Certificate Renewal</h4>
              <br/>
              <p>The <span class="code code_misc">SSL Certificate</span> are applied or renewed at <a href="https://uit.stanford.edu/service/ssl" target="_blank">University IT&nbsp;&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>. A copy of it is in the inbox of <span class="code code_val">daslab</span> <span class="code code_brand">Gmail</span> account. They are stored at <span class="code code_path">/home/ubuntu/.ssl_cert/</span> on the server.</p>
              <ul>
                <li>The final version used by <span class="code code_cmd">aws iam</span> is <span class="code code_path">primerize_stanford_edu.key</span> (<b>Private Key</b>), <span class="code code_path">primerize_stanford_edu.crt</span> (<b>Public Key</b>), and <span class="code code_path">primerize_stanford_edu.ca-bundle</span> (<b>Chain Certificates</b>). Details of <span class="code code_brand">Apache</span> settings is at <span class="code code_path">/etc/apache2/sites-enabled/000-default.conf</span>.</li>
                <li>The <b>Private Key</b> is self-signed. The original file is at <span class="code code_path">/home/ubuntu/.ssl_cert/cert_self_sign/primerize_self_sign.key</span>.</li>
                <li>The <b>Public Key</b> is signed by <span class="code code_misc">InCommons</span>. The original file is at <span class="code code_path">/home/ubuntu/.ssl_cert/cert_InCommon/X509CO.cer</span>.</li>
                <li>The <b>Chain Certificates</b> is a concatenated version of <span class="code code_path">/home/ubuntu/.ssl_cert/cert_InCommon/X509IO.cer</span> and <span class="code code_path">/home/ubuntu/.ssl_cert/cert_InCommon/X509CO.cer</span>. It has 4 components in order: <span class="code code_path">Root_AddTrustExternalCA.crt</span>, <span class="code code_path">Intermediate_1_USERTrustRSAAddTrust.crt</span>, <span class="code code_path">Intermediate_2_InCommonRSAServerCA.crt</span>, and <span class="code code_path">Primary_primerize_stanford.crt</span>; which can be found in <span class="code code_path">/home/ubuntu/.ssl_cert/cert_InCommon/parsed/</span>.</li>
                <li>The <mark>renew code</mark> is present both in the original email and <span class="code code_path">/home/ubuntu/.ssl_cert/cert_info.txt</span>.</li>
              </ul>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <a href="#content-main" id="top" style="z-index:2000;">
    <div style="position:fixed; display:block; right:-5%; bottom:100px; opacity:0.85; z-index:2000; width:60px; height:60px;"><i class="nav_top"></i></div>
  </a>
</div>
{% endblock %}
