{% extends "media/html/_public.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="jumbotron">
        <h2 id="h-1" class="text-center"><code>Mutate-and-Map Plates</code></h2>
        <br/>
        <p id="res-1"><img src="/site_media/images/src/primerize-2d-1.png" alt="mutate-and-map illustration" style="width:100%" /></p>
        <p id="p-1" class="lead">Mutate-and-map (<code>M<sup>2</sup></code>) provides rich base-pairing information by assessing which nucleotides are ‘released’ upon making single mutations at every other nucleotide.</p>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a class="btn btn-primary btn-lg btn-block btn-spa" href="/design_2d/" role="button" style="color: #ffffff;"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;&nbsp;Primerize!&nbsp;</a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a class="btn btn-success btn-lg btn-block btn-spa" href="/demo_2d/" role="button" style="color: #ffffff;"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;Demo 2D&nbsp;</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="jumbotron">
        <h2 id="h-2" class="text-center"><code>Mutation/Rescue Sets</code></h2>
        <br/>
        <p id="res-2"><img src="/site_media/images/src/primerize-2d-2.png" alt="mutation-rescue illustration" style="width:100%" /></p>
        <p id="p-2" class="lead">Mutation/rescue (<code>M<sup>2</sup>R</code>) validates or falsifies base pairs by detecting rescue of the RNA structure by predicted compensatory mutations.</p>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a class="btn btn-primary btn-lg btn-block btn-spa" href="/design_3d/" role="button" style="color: #ffffff;"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;&nbsp;Primerize!&nbsp;</a>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <a class="btn btn-success btn-lg btn-block btn-spa" href="/demo_3d/" role="button" style="color: #ffffff;"><span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;Demo 3D&nbsp;</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3>Reference</h3>
      <blockquote class="h5" style="padding-right:10px; border-left-color: #ff69bc;">
        <p>
          Tian, S., and Das, R. (<b>2016</b>)
          <a href="http://journals.cambridge.org/action/displayAbstract?fromPage=online&aid=10242118&fulltextType=RV&fileId=S0033583516000020" target="_blank"><u>RNA structure through multidimensional chemical mapping.</u>&nbsp;&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
          <i>Quarterly Review of Biophysics</i> <b>49(e7)</b>: 1-30.
        </p>
      </blockquote>
      
    </div>
  </div>
{% endblock %}

