{% extends "media/html/_public.html" %}

{% block content %}
    <div class="row" class="form_control">
     <h3><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Please read the following LICENSE carefully. 
      <br/>
      To continue downloading source code, you must accept the agreement.
     </h3>
     <br/>
     <div class="alert alert-info" id="license_content"></div>
    </div>
    <br/>
    <a class="btn btn-success" href="/download" style="color: #ffffff;">&nbsp;&nbsp;&nbsp;Accept&nbsp;&nbsp;&nbsp;</a>
    <a class="btn btn-danger pull-right" href="/" style="color: #ffffff;">&nbsp;&nbsp;&nbsp;Decline&nbsp;&nbsp;&nbsp;</a>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="/site_media/js/public/{{DEBUG_DIR}}license{{DEBUG_STR}}.js"></script>  
{% endblock %}
