{% extends "media/html/_public.html" %}

{% block head%}
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
{% endblock %}

{% block content %}
  <div class="col-md-12">
    <h2>
      Input Data:
      <code class="pull-right">Mutate-and-Map Plates</code>
    </h2>
    <form method='post' action='/design_2d_run/' id='form_2d'>
      {% csrf_token %}
      <div class="row">
        <div class="col-md-9">
          <div class="bgimg-lg">
            <div style="padding-bottom:15px;" data-toggle="tooltip" data-placement="bottom" title="Construct name prefix for all primers; maximum length 32 characters.">
              <label for="tag" class="col-md-3">
                <span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;<b>Name Tag</b>:&nbsp;&nbsp;
              </label>
              <div class="input-group col-md-6">
                {{2d_form.tag}}
                <span class="input-group-addon"><i>optional</i></span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="sequence" class="col-md-12">
                  <span class="glyphicon glyphicon-cd"></span>&nbsp;&nbsp;<b>Sequence</b>:
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li>Please enter your sequence below: valid nucleotides only (A, C, G, T, and U); and <u>at least <b>60</b> nt</u> long.</li>
                  <li>Flanking sequences (e.g. T7 promoter, buffering region, tail) should be included. Please make sure the sequence matches exactly as in <code>Single Assembly</code>.</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="list-group">
                  {{2d_form.sequence}}
                  <div class="list-group-item disabled" style="padding:6px 12px; color:#555; border-color:#ccc; background-color:#eee; border-top:0px;">
                    <p class="text-right" style="margin:0px;">
                      Length: <i><b><span id="count"></span></b></i> nt
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bgimg-lg">
            <div class="row">
              <div class="col-md-12">
                <label for="sequence" class="col-md-12">
                  <span class="glyphicon glyphicon-indent-left"></span>&nbsp;&nbsp;<b>Primers</b>:
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul>
                  <li>Please enter your primer set from <code>Single Assembly</code> below. Please make sure the primer numberings match the previous result.</li>
                  <li>Click "Add Primers" to add more primer pairs.</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {{2d_form.primers}}
                <div id="primer_sets">
                  <div style="padding-bottom:10px;" id="primer_1" class="input-group">
                    <span class="input-group-addon">
                      <b>1</b>
                      <span class="label label-info">F</span>
                    </span>
                    <input class="primer_input form-control monospace translucent" type="text" id="id_primer_1" name="id_primer_1"/>
                    <span class="input-group-addon">
                      <i><b><span id="count_primer_1">0</span></b></i> nt
                    </span>
                  </div>
                  <div style="padding-bottom:10px;" id="primer_2" class="input-group">
                    <span class="input-group-addon">
                      <b>2</b>
                      <span class="label label-danger">R</span>
                    </span>
                    <input class="primer_input form-control monospace translucent" type="text" id="id_primer_2" name="id_primer_2"/>
                    <span class="input-group-addon">
                      <i><b><span id="count_primer_2">0</span></b></i> nt
                    </span>
                  </div>
                  <div style="padding-bottom:10px;" id="primer_3" class="input-group">
                    <span class="input-group-addon">
                      <b>3</b>
                      <span class="label label-info">F</span>
                    </span>
                    <input class="primer_input form-control monospace translucent" type="text" id="id_primer_3" name="id_primer_3"/>
                    <span class="input-group-addon">
                      <i><b><span id="count_primer_3">0</span></b></i> nt
                    </span>
                  </div>
                  <div style="padding-bottom:10px;" id="primer_4" class="input-group">
                    <span class="input-group-addon">
                      <b>4</b>
                      <span class="label label-danger">R</span>
                    </span>
                    <input class="primer_input form-control monospace translucent" type="text" id="id_primer_4" name="id_primer_4"/>
                    <span class="input-group-addon">
                      <i><b><span id="count_primer_4">0</span></b></i> nt
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <input name="job_id"  id="job_id" type="text" style="display:none" value="" />
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="tooltip" data-placement="bottom" title="More options for guided design. Parameters for primer length, primer number and annealing temperature can be specified.">
              <h3 class="panel-title"><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Advanced Options</h3>
            </div>
            <div class="panel-body">
              <div data-toggle="tooltip" data-placement="bottom" title="Minimum annealing temperature for overlapping regions. Default = 60.0 &deg;C">
                <label for="offset">sequence <b>offset</b>:</label>
                <div class="input-group" style="margin-left:10px;">
                  {{2d_form.offset}}
                  <span class="input-group-addon">nt</span>
                </div>
              </div>
              <div style="padding-top: 10px;" data-toggle="tooltip" data-placement="bottom" title="Maximum length for each primer. Default = 60 nt.">
                <label for="min_mut">mutation <b>starting</b> position:</label>
                <div class="input-group" style="margin-left:10px;">
                  <span class="input-group-addon">@</span>
                  {{2d_form.min_muts}}
                  <span class="input-group-addon">nt</span>
                </div>
              </div>
              <div style="padding-top: 10px;" data-toggle="tooltip" data-placement="bottom" title="Minimum length for each primer. Default = 15 nt.">
                <label for="max_mut">mutation <b>ending</b> position:</label>
                <div class="input-group" style="margin-left:10px;">
                  <span class="input-group-addon">@</span>
                  {{2d_form.max_muts}}
                  <span class="input-group-addon">nt</span>
                </div>
              </div>
              <div style="padding-top: 10px;" data-toggle="tooltip" data-placement="bottom" title="Exact limit of number of primers in design. Default = 0, i.e. no restriction; solutions have less or more number of primers will not be shown. Even number only." >
                <label for="max_mut">mutation <b>library</b> choice:</label>
                <div style="margin-left:10px;">
                  {{2d_form.lib}}
                </div>
              </div>
              <br/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_submit">
                  <span class="glyphicon glyphicon-ok-sign"></span>&nbsp;&nbsp;Primerize!
                </button>
              </p>
              <p>
                <a class="btn btn-warning btn-block" id="btn-add">
                  <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;&nbsp;Add Primers
                </a>
              </p>
              <p>
                <a id="btn_demo" class="btn btn-success btn-block" href="/demo_2d_run/" data-toggle="tooltip" data-placement="bottom" title="Example primer design using P4P6-2HP RNA.">
                  <span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;Show Demo
                </a>
              </p>
              <p>
                <a class="btn btn-default btn-block" href="/design_2d/">
                  <span class="glyphicon glyphicon-remove-sign"></span>&nbsp;&nbsp;Clear Form
                </a>
              </p>
              <p>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="result"></div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    if (isCDN) {
      document.write('<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/' + ver_zclip + '/ZeroClipboard.min.js"><\/script>');
      document.write('<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/' + ver_d3 + '/d3.min.js"><\/script>');
    } else {
      document.write('<script type="text/javascript" src="/site_media/js/ZeroClipboard.min.js"><\/script>');
      document.write('<script type="text/javascript" src="/site_media/js/d3.min.js"><\/script>');
    }
  </script>
  <script type="text/javascript" src="/site_media/js/public/{{DEBUG_DIR}}design_2d{{DEBUG_STR}}.js"></script>  
  <script type="text/javascript" src="/site_media/js/public/{{DEBUG_DIR}}plate_96{{DEBUG_STR}}.js"></script>  

  {% if result_job_id %}
    <script type="text/javascript">
      var job_id = "{{result_job_id}}", primer_list = $("#id_primers").val().split(',');
      ajax_load_html(job_id);
      sync_primer_input(primer_list);

      ajax_timeout = setInterval(function() {
        if ($("#result").html().indexOf("Primerize is running") == -1) {
          clearInterval(ajax_timeout);
        } else {
          ajax_load_html(job_id);
        }
      }, 1500);
    </script>
  {% endif %}
{% endblock %}

