{% extends "media/html/_public.html" %}
{% load widget_tweaks %}

{% block head%}
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
{% endblock %}

{% block content %}
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h2>
      Input Data:
      <code class="pull-right">Simple Assembly</code>
    </h2>
    <form method='post' action='/design_1d_run/' id='form_1d'>
      {% csrf_token %}
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
          <div class="bgimg-lg">
            <div style="padding-bottom:15px;" data-toggle="tooltip" data-placement="bottom" title="Construct name prefix for all primers; maximum length 32 characters.">
              <label for="tag" class="col-lg-3 col-md-3 col-sm-4 col-xs-5">
                <span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;<b>Name Tag</b>:&nbsp;&nbsp;
              </label>
              <div class="input-group col-lg-6 col-md-6 col-sm-6 col-xs-7">
                {% render_field 1d_form.tag class+="form-control" placeholder="Enter a name for your sequence" %}
                <span class="input-group-addon"><i>optional</i></span>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <label for="sequence" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <span class="glyphicon glyphicon-cd"></span>&nbsp;&nbsp;<b>Sequence</b>:
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul>
                  <li>Please enter your sequence below: valid nucleotides only (A, C, G, T, and U); and <u>at least <b>60</b> nt</u> long.</li>
                  <li>Flanking sequences (e.g. T7 promoter, buffering region, tail) should be included. Please make sure the sequence matches exactly as in <code>Single Assembly</code>.</li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="list-group">
                {% render_field 1d_form.sequence class+="form-control monospace translucent textarea-group" placeholder="Enter your RNA/DNA sequence" rows="15" cols="100" %}
                  <div class="list-group-item disabled" style="padding:6px 12px; color:#555; border-color:#ccc; background-color:#eee; border-top:0px;">
                    <p class="text-right" style="margin:0px;">
                      Length: <i><b><span id="count"></span></b></i> nt
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="alert alert-warning center-block" id="warn_500" style="display: none;">
            <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;<b>WARNING</b>: Your sequence is longer than <u><b>500</b> nt</u>. The runtime exhibits quadratic growth with sequence length. Please make sure you have the <span class="label label-violet">JOB_ID</span> written down for retrieval.
          </div>
          <div class="alert alert-orange center-block" id="warn_1000" style="display: none;">
            <span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;<b>WARNING</b>: Your sequence is longer than <u><b>1000</b> nt</u>. The runtime exhibits quadratic growth with sequence length. For long inputs, we encourage the user to <a class="btn btn-info btn-sm" href="/license/" role="button" style="color: #ffffff;"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp;&nbsp;Download&nbsp;</a> the source code and run locally, which enables more options. 
          </div>
        </div>
        <br/>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          <div class="panel panel-default">
            <div class="panel-heading" data-toggle="tooltip" data-placement="left" title="More options for guided design. Parameters for primer length, primer number and annealing temperature can be specified.">
              <h3 class="panel-title"><span class="glyphicon glyphicon-wrench"></span>&nbsp;&nbsp;Advanced Options</h3>
            </div>
            <div class="panel-body">
              <div class="input-group">
                <div data-toggle="tooltip" data-placement="bottom" title="Minimum annealing temperature for overlapping regions. Default = 60.0 &deg;C">
                  <label for="min_Tm">minimum <b>Tm</b>:</label>
                  <div class="input-group" style="margin-left:10px;">
                    {% render_field 1d_form.min_Tm class+="form-control" %}
                    <span class="input-group-addon">&deg;C</span>
                  </div>
                </div>
                <div style="padding-top: 10px;" data-toggle="tooltip" data-placement="bottom" title="Maximum length for each primer. Default = 60 nt.">
                  <label for="max_length">maximum <b>length</b> of primers:</label>
                  <div class="input-group" style="margin-left:10px;">
                    {% render_field 1d_form.max_len class+="form-control" %}
                    <span class="input-group-addon">nt</span>
                  </div>
                </div>
                <div style="padding-top: 10px;" data-toggle="tooltip" data-placement="bottom" title="Minimum length for each primer. Default = 15 nt.">
                  <label for="min_length">minimum <b>length</b> of primers:</label>
                  <div class="input-group" style="margin-left:10px;">
                    {% render_field 1d_form.min_len class+="form-control" %}
                    <span class="input-group-addon">nt</span>
                  </div>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Exact limit of number of primers in design. Default = 0, i.e. no restriction; solutions have less or more number of primers will not be shown. Even number only.">
                  <div class="checkbox" style="display:inline-block;">
                    <label>
                      {{1d_form.is_num_primers}}
                      <span class="cr"><span class="cr-icon glyphicon glyphicon-ok"></span></span>
                    &nbsp;<b>#</b> number of primers:
                    </label>
                  </div>
                  <div class="input-group" style="margin-left:10px;">
                    {% render_field 1d_form.num_primers class+="form-control" %}
                    <span class="input-group-addon">#</span>
                  </div>
                </div>
                <div data-toggle="tooltip" data-placement="bottom" title="Check if T7 promoter (TTCTAATACGACTCACTATA) is present in input sequence. If not, it will be prepended automatically.">
                  <div class="checkbox" style="display:inline-block;">
                    <label>
                      {{1d_form.is_check_t7}}
                      <span class="cr"><span class="cr-icon glyphicon glyphicon-ok"></span></span>
                      &nbsp;check for <b>T7</b> promoter
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p>
                <button type="submit" class="btn btn-primary btn-lg btn-block" id="btn_submit">
                  <span class="glyphicon glyphicon-ok-sign"></span>&nbsp;&nbsp;Primerize!
                </button>
              </p>
              <p>
                <a id="btn_demo" class="btn btn-success btn-block" href="/demo_1d_run/" data-toggle="tooltip" data-placement="bottom" title="Example primer design using P4P6-2HP RNA.">
                  <span class="glyphicon glyphicon-question-sign"></span>&nbsp;&nbsp;Show Demo
                </a>
              </p>
              <p>
                <a id="btn_clear" class="btn btn-default btn-block" href="/design_1d/">
                  <span class="glyphicon glyphicon-remove-sign"></span>&nbsp;&nbsp;Clear Form
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="result"></div>
  {% if result_job_id %}
    <script type="text/javascript">
      var result_timeout = setTimeout(function() {
        if (app.isLoaded) {
          app.modPrimerize.job_type = 1;
          app.modPrimerize.job_id = "{{result_job_id}}";
          app.modPrimerize.fnAjaxLoadHTML();
          app.modPrimerize.fnAjaxRefresh();
          clearTimeout(result_timeout);
        }
      }, 1000);
    </script>
  {% endif %}

{% endblock %}
