{% extends "media/html/_public.html" %}
{% load widget_tweaks %}

{% block content %}
  <form id="form_dl" method="post" action="/download/" class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
    {% csrf_token %}
    <h3>Please provide your contact information</h3>
    <br/>
    <div class="row">
      <div class="panel panel-info" >
        <div class="panel-heading">
          <h2 class="panel-title"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Contact Information</h2>
        </div>
        <div class="panel-body">
          <br/>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
              <span class="pull-right"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;First Name:</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-xs-7">
              {% render_field dl_form.first_name class+="form-control" %}
              <br class="hidden-lg hidden-md" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-xs-5">
              <span class="pull-right"><span class="glyphicon glyphicon-credit-card"></span>&nbsp;&nbsp;Last Name:</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-xs-7">
              {% render_field dl_form.last_name class+="form-control" %}
              <br class="hidden-lg hidden-md" />
            </div>
            <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
          </div>
          <br/>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
              <span class="pull-right"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;Insititution:</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-xs-7">
              {% render_field dl_form.institution class+="form-control" %}
              <br class="hidden-lg hidden-md" />
            </div>
            <div class="col-lg-2 col-md-2 col-sm-5 col-xs-5">
              <span class="pull-right"><span class="glyphicon glyphicon-tower"></span>&nbsp;&nbsp;Department:</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-7 col-xs-7">
              {% render_field dl_form.department class+="form-control" %}
              <br class="hidden-lg hidden-md" />
            </div>
            <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
          </div>
          <br/>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
              <span class="pull-right"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;E-mail Address:</span>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-7 col-xs-7">
              {% render_field dl_form.email class+="form-control" %}
            </div>
            <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
          </div>
          <br/>
          <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-11 col-xs-11">
              <div class="checkbox" style="display:inline-block;">
                <label>
                  {{dl_form.is_subscribe}}
                  <span class="cr"><span class="cr-icon glyphicon glyphicon-ok"></span></span>
                  &nbsp;&nbsp;Subscribe to newsletter for future version updates.
                </label>
              </div>
              <span class="pull-right">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;&nbsp;Submit&nbsp;</button>
                &nbsp;
                <a href="/download/" class="btn btn-default btn-spa"><span class="glyphicon glyphicon-remove-circle"></span>&nbsp;&nbsp;Clear&nbsp;&nbsp;</a>
              </span>
              <br/>
            </div>
            <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"></div>
          </div>
        </div>
      </div>

      <div style="display:none;" class="alert alert-danger" id="form_dl_notice">
        <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span>&nbsp;&nbsp;
        <span id="form_dl_msg"><b>SUBMITTING</b>: The following messages were produced:</span>
      </div>


      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;Releases</h2>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th class="col-lg-2 col-md-3 col-sm-4 col-xs-6"></th>
                <th class="col-lg-10 col-md-9 col-sm-8 col-xs-6"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <span class="glyphicon glyphicon-heart-empty"></span>&nbsp;&nbsp;<b class="lead" style="color:#ff912e;">latest</b>
                  &nbsp;&nbsp;<a href="/link/master/" target="_blank" rel="noopener" id="a_dl_master" download onclick="return false;" style="color: #808080;"><span class="glyphicon glyphicon-floppy-save"></span></a>
                </td>
                <td><b>Development</b> from <i>master</i> with latest features as preview for next release.</td>
              </tr>

              {% for d in dist %}
              <tr>
                <td>
                  <span class="glyphicon glyphicon-tag"></span>&nbsp;&nbsp;<b class="lead" style="color:#5496d7;">{{d.version}}</b>
                  &nbsp;&nbsp;<a href="/link/{{d.version}}/" id="a_dl_{{d.version|slugify}}" target="_blank" rel="noopener" download onclick="return false;" style="color: #808080;"><span class="glyphicon glyphicon-download-alt"></span></a>
                </td>
                <td>
                  <b>{{d.title}}</b>
                  <br/>
                  {{d.description}}
                </td>
              </tr>
              {% endfor %}
              <tr><td colspan="2" style="padding:0px;"></td></tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>
  </form>
{% endblock %}
