{% extends "media/html/_public.html" %}

{% block content %}
    <div class="row" class="form_control">
     <h3><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Please read the following LICENSE carefully. 
      <br/>
      To continue downloading source code, you must accept the agreement.
     </h3>
     <br/>
     <div class="alert alert-info" id="license_content">{% autoescape off %}{{license_md}}{% endautoescape %}</div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="btn btn-success btn-lg btn-block" href="/download/" style="color: #ffffff;"><span class="glyphicon glyphicon-ok-sign"></span>&nbsp;&nbsp;Accept&nbsp;&nbsp;&nbsp;</a>
      </div>
      <div class="col-lg-4 col-md-4 hidden-sm hidden-xs"></div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <a class="btn btn-danger btn-lg btn-block" href="/" style="color: #ffffff;"><span class="glyphicon glyphicon-remove-sign"></span>&nbsp;&nbsp;Decline&nbsp;&nbsp;&nbsp;</a>
      </div>
    </div>
  </div>
{% endblock %}
