{% extends "media/html/_public.html" %}

{% block content %}
	<div class="bgimg2-lg center-block text-center" style="padding-bottom:50px; min-height:400px;">
		<h2><span class="label label-teal">AUTHORIZATION REQUIRED</span></h2>
		<b><p style="padding-top:10px;" class="center-block text-center">Please enter you current password for validation. Also type in your desired new password.</p></b>
		<form enctype="multipart/form-data" action="/password/" method="post">
			{% csrf_token %}
        	<div style="margin-top:25px; width:300px;" class="center-block text-center">
				<div class="input-group">
					<span class="input-group-addon" style="color:#000;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                   {{form.username}}
	            </div>
            </div>
        	<div style="margin-top:20px; width:300px;" class="center-block text-center">
				<div class="input-group">
					<span class="input-group-addon" style="color:#000;"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></span>
                   {{form.password_old}}
                </div>
            </div>
        	<div style="margin-top:20px; width:300px;" class="center-block text-center">
				<div class="input-group">
					<span class="input-group-addon" style="color:#000;"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></span>
                   {{form.password_new}}
               </div>
           </div>
        	<div style="margin-top:20px; width:300px;" class="center-block text-center">
				<div class="input-group">
					<span class="input-group-addon" style="color:#000;"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></span>
                   {{form.password_new_rep}}
               </div>
            </div>
            <br/>
            <p style="margin-top:20px;">
				{% if notices %}
					<button type="button" class="btn btn-success" onclick="location.href='/'">
						&nbsp;&nbsp;Sign In&nbsp;&nbsp;
					</button>
				{% else %}
					<button type="submit" class="btn btn-inverse clickable">
						&nbsp;&nbsp;Change&nbsp;&nbsp;
					</button>
					&nbsp;&nbsp;
					<button type="button" class="btn btn-default" onclick="location.href='/'">
						&nbsp;&nbsp;Cancel&nbsp;&nbsp;
					</button>
				{% endif %}
			</p>
		</form>
    </div>

	{% if messages %}
	<div class="center-block text-center">
        <div class="form-group center-block" style="margin-bottom:0px; width: 640px;">
			<br/>
            <div class="alert alert-danger center-block" role="alert" style="margin: 0px 15px;">
                <p>
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>&nbsp;&nbsp;
                    <b>ERROR</b>: The following messages were produced:
                </p>
                <p>{% autoescape off %}{{ messages }}{% endautoescape %}</p>
            </div>
		</div>
	</div>
	{% endif %}
	{% if notices %}
	<div class="center-block text-center">
        <div class="form-group center-block" style="margin-bottom:0px; width: 640px;">
			<br/>
            <div class="alert alert-warning" role="alert">
                <p>
                    <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>&nbsp;&nbsp;
                    <b>SUCCESS</b>: The following messages were produced:
                </p>
                <p>{{ notices }}</p>
            </div>
		</div>
	</div>
	{% endif %}
{% endblock %}

{% block script %}
  <script type="text/javascript">
    $(document).ready(function () {
		$("#id_username").addClass("form-control").attr("placeholder", "Username").css("font-family", "Helvetica");
		$("#id_password_old").addClass("form-control").attr("placeholder", "Current Password").css("font-family", "Helvetica");
		$("#id_password_new").addClass("form-control").attr("placeholder", "New Password").css("font-family", "Helvetica");
		$("#id_password_new_rep").addClass("form-control").attr("placeholder", "Repeat New Password").css("font-family", "Helvetica");
    });
  </script>
{% endblock %}

